/*variables*/
$googleFont: 'Hind', sans-serif;
$normalText: 'Times New Roman', serif;
$sectionHeight: 900px;
$navSpacing: 110px;
$mainColor: #FF6700;
$lightGray: #f6f6f6;
$midGray: #DADAD9;
$blue: #5BC3EB;
$darkColor: #36382E;

html {
    font-family: $normalText;
    font-size: 18px;
}

body {
    background-image: url("/img/natural_paper.png");
    background-repeat: repeat;
    padding-top: $navSpacing;
}

h1 {
    font-family: $googleFont;
}

.body-content {
    margin-left: 20px;
    margin-right: 20px;
}

header {
    font-family: $googleFont;
    letter-spacing: 1px;

    nav {
        height: 60px;
        z-index: 9999;
        position: fixed;
        width: 100%;
        left: 0;
        top: 0;
        background-color: $darkColor;
        padding-top: 10px;
    }

    #navigation {
        list-style: none;
        margin-right: 50px;
        margin-top: 10px;
        font-family: $googleFont;
        font-size: 1.25em;
        float: right;

        li {
            display: inline-block;
            text-align: right;
            margin-left: 20px;

            a {
                color: white;
                text-transform: uppercase;
                text-decoration: none;
                letter-spacing: 1px;
                -moz-transition: all ease-in .25s;
                -o-transition: all ease-in .25s;
                -webkit-transition: all ease-in .25s;
                transition: all ease-in .25s;

                &:hover {
                    letter-spacing: 3px;
                    text-decoration: none;
                }

                &:visited {
                    color: white;
                    text-decoration: none;
                }
            }
        }
    }
}

#main {
    .wrapper {
        padding-left: 15px;
        padding-right: 15px;
    }

    div {
        margin-bottom: $navSpacing;
    }

    .top {
        height: $sectionHeight;
        border: 1px solid black;
    }

    .about {
        height: $sectionHeight;
        border: 1px solid red;
    }

    .portfolio {
        height: $sectionHeight;
        border: 1px solid blue;
    }

    #contactHeader {
        padding-left: 0;
        background-color: rgba(54, 56, 46, 0.8);
        padding: 30px 20px 10px 20px;
        width: 96.9%;
        color: white;

        span {
            margin-left: 20px;
        }
    }

    .contact {
        width: 100%;
        height: $sectionHeight - 250px;
        padding-top: 20px;
        padding-left: 20px;

        .form {
            width: 50%;
            margin-left: auto;
            margin-right: auto;

            label {
                display: block;
                font-family: $googleFont;
                margin-top: 20px;
                font-size: .9em;
            }

            input[type=text], input[type=email] {
                padding: 10px 10px;
                font-size: 12pt;
                width: 60%;
                font-family: $normalText;
                background: rgba(0,0,0,0.1);
            }

            ::-webkit-input-placeholder {
                font-family: $normalText;
                color: black;
                opacity: .9;
            }

            textarea {
                display: block;
                -moz-box-sizing: padding-box;
                -webkit-box-sizing: padding-box;
                box-sizing: padding-box;
                overflow: hidden;
                padding: 10px;
                margin-bottom: 15px;
                width: 60%;
                font-size: 14pt;
                background: rgba(0,0,0,0.1);
            }

            input:focus, textarea:focus {
                border: 1px solid #FF6700;
            }

            .sendButton {
                padding: 5px;
                height: 58px;
                width: 127px;
                color: white;
                border: none;
                font-size: 14pt;
                font-family: $googleFont;
                background-color: $darkColor;
                box-shadow: 0 6px 3px rgba(0, 0, 0, .3);
                cursor: pointer;
                letter-spacing: 1px;
                margin-top: 20px;
            }

            .sendButton:hover {
                background-color: $mainColor;
            }
        }
    }

    footer {
        background-color: $darkColor;
        height: 80px;
        width: 100%;
        color: $mainColor;
        font-family: $googleFont;
        font-size: 1.5em;

        p {
            padding: 20px 30px;
            font-weight: 300;
        }
    }
}


.clear {
    clear: both;
}

.sideShadow {
    box-shadow: 6px 0 3px rgba(0, 0, 0, .5);
}

.shadow {
    box-shadow: 1px 1px 5px 6px rgba(0,0,0,0.5);
}

.anchor {
    display: block;
    height: $navSpacing;
    margin-top: -110px;
    visibility: hidden;
}



.hidden {
    opacity: 0;
}

.console-container {
    font-family: $googleFont;
    font-weight: 700;
    font-size: 1.9em;
    text-align: center;
    width: 600px;
    color: white;
    background-color: $darkColor;
    padding-top: 30px;
    margin-left: 50px;
}

.console-underscore {
    display: inline-block;
    position: relative;
    top: -0.14em;
    left: 10px;
}

#text {
    margin-top: 30px;
}
